<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

    <div id="app">
      <router-view></router-view>
    </div>

  <script src="vue.js"></script>
  <script src="axios.min.js"></script>
  <script src="lodash.min.js"></script>
  <script src="vue-router.js"></script>
  <script>

    var api = axios.create({
      baseURL: 'http://localhost:3005'
    })

    var CreateVote = Vue.component('create-vote', {
      template: `
        <div id="app">
          <h1>创建投票</h1>
          <div><input type="text" placeholder="标题" v-model="voteInfo.title"></div>
          <div><input type="text" placeholder="描述" v-model="voteInfo.desc"></div>
          <div v-for="(option, idx) of voteInfo.options">
            <input type="text" :placeholder="'选项' + (idx + 1)" v-model="voteInfo.options[idx]">
            <button @click="voteInfo.options.splice(idx, 1)">-</button>
          </div>
          <div><button @click="voteInfo.options.push('')">添加选项</button></div>
          <div>截止时间：<input type="datetime-local" v-model="voteInfo.deadline"></div>
          <div>
            <label><input type="radio" value="0" v-model="voteInfo.anonymouse"> 实名</label>
            <label><input type="radio" value="1" v-model="voteInfo.anonymouse"> 匿名</label>
          </div>
          <div>
            <select v-model="voteInfo.singleSelection">
              <option value="1">单选</option>
              <option value="0">多选</option>
            </select>
          </div>
          <button @click="submit">提交</button>
        </div>
      `,
      data() {
        return {
          voteInfo: {
            title: '',
            desc: '',
            options: ['', ''],
            deadline: new Date(Date.now() + 86400000).toISOString().slice(0, 16),
            anonymouse: '0',
            singleSelection: '1',
          }
        }
      },
      methods: {
        async submit() {
          var request = await axios.post('http://localhost:3005/create-vote', this.voteInfo, {
            withCredentials: true
          })
          var data = request.data
          this.$router.push('/vote-show/' + data.id)
          // this.$emit('create-success', data.id)
          // location.href = '/vote-vue.html?id=' + data.id
        }
      }
    })

    var VoteView = Vue.component('vote-view', {
      props: ['id'],
      template: `
        <div id="app">

          <div>
            <h1>{{ vote.info.title }}</h1>
            <h3>{{ vote.info.desc }}</h3>
          </div>

          <ul class="options">
            <li @click="voteup(option.id)" v-for="option in vote.options">
              {{ option.content }} - {{ summary[option.id].length }} 票
              <div class="ratio" style="height: 3px;background: red;" :style="{width: ratioSummary[option.id] * 100 + '%'}"></div>

            </li>
          </ul>

        </div>
      `,
      watch: {
        $route(to, from) {
          this.init()
        }
      },
      async mounted() {
        this.init()
      },
      data() {
        return {
          vote: {
            info: {},
            options: [],
            voteups: [],
          },
        }
      },
      computed: {
        summary() {
          var obj = _.mapValues(_.keyBy(this.vote.options, 'id'), () => [])

          return {
            ...obj,
            ..._.groupBy(this.vote.voteups, 'optionid')
          }
        },
        ratioSummary() {
          return _.mapValues(this.summary, (voteups, voteid) => {
            if (voteups.length == 0) {
              return 0
            }
            return voteups.length / this.vote.voteups.length
          })
        }
      },
      methods: {
        async init() {


          
          var id = this.$route.params.id

          // var query = location.search.slice(1).split('&').reduce((obj, pair) => {
          //   var [key, val] = pair.split('=')
          //   obj[key] = val
          //   return obj
          // }, {})

          var request = await axios.get('http://localhost:3005/voteinfo/' + id)
          var data = request.data
          console.log(data)
          this.vote = data

          this.vote.voteups = _.uniqBy(this.vote.voteups, 'userid')





          this.socket = io('http://localhost:3005/')
          this.socket.emit('select room', query.id)

          this.socket.on('new vote', data => {
            this.vote.voteups = this.vote.voteups.filter(it => it.userid != data.userid)
            this.vote.voteups.push(data)
            // this.vote.voteups = _.uniqBy(this.vote.voteups, 'userid')
          })

      
        },
        voteup(optionid) {
          axios.post('http://localhost:3005/voteup', {
            optionid,
            voteid:this.vote.info.id,
          })
        }
      }
    })

    var Login = Vue.component('login', {
      template: `
        <div>
          <input placeholder="用户名" type="text" v-model="loginInfo.name">
          <input placeholder="密码" type="text" v-model="loginInfo.password">
          <input placeholder="验证码" type="text" v-model="loginInfo.captcha">
          <img @click="updateCaptcha" :src="captchaUrl">
          <button @click="login">登陆</button>
        <div>
      `,
      data() {
        return {
          captchaUrl: 'http://localhost:3005/captcha?' + Date.now(),
          loginInfo: {
            name: '',
            password: '',
            captcha: '',
          }
        }
      },
      methods: {
        updateCaptcha() {
          this.captchaUrl = 'http://localhost:3005/captcha?' + Date.now()
        },
        async login() {
          var request = await api.post('/login', this.loginInfo)
          var data = request.data
        }
      }
    })

    var Profile = Vue.component('profile', {
      template: `
        <div>
          <input placeholder="用户名" type="text" v-model="loginInfo.name">
          <input placeholder="密码" type="text" v-model="loginInfo.password">
          <input placeholder="验证码" type="text" v-model="loginInfo.captcha">
          <img @click="updateCaptcha" :src="captchaUrl">
          <button @click="login">登陆</button>
        <div>
      `,
      data() {
        return {
          captchaUrl: 'http://localhost:3005/captcha?' + Date.now(),
          loginInfo: {
            name: '',
            password: '',
            captcha: '',
          }
        }
      },
      methods: {
        updateCaptcha() {
          this.captchaUrl = 'http://localhost:3005/captcha?' + Date.now()
        },
        async login() {
          var request = await api.post('/login', this.loginInfo)
          var data = request.data
        }
      }
    })

    var Index = Vue.component('index', {
      template: `
        <div>
          <router-link to="/create-vote">创建投票</router-link>
          <router-link to="/logout">登出</router-link>
          
          <router-link to="/login">登陆</router-link>
          <router-link to="/register">注册</router-link>
        </div>
      `
    })

    var router = new VueRouter({
      // mode: 'history',
      routes: [{
        path: '/',
        component: Index,
      }, {
        path: '/login',
        component: Login,
      }, {
        path: '/create-vote',
        component: CreateVote,
      }, {
        path: '/vote-show/:id',
        component: VoteView,
        // props: (route) => {
        //   return {id: route.params.id}
        // }
      }]
    })

    var app5 = new Vue({
      router: router,
      el: '#app',
      data: {
      },
    })
    

  </script>
</body>
</html>
